--
-- PostgreSQL database dump
--

\restrict YtdbunKKzZHFXfv9QWKaUkfa6YRFEt8BZaIyfNC4fyBuUTviHYkjiDX73KPas6c

-- Dumped from database version 16.14
-- Dumped by pg_dump version 16.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: finance
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO finance;

--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: finance
--

CREATE TABLE public.audit_logs (
    id integer NOT NULL,
    user_id integer,
    action character varying(100) NOT NULL,
    entity_type character varying(50) NOT NULL,
    entity_id integer NOT NULL,
    before jsonb,
    after jsonb,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.audit_logs OWNER TO finance;

--
-- Name: audit_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: finance
--

CREATE SEQUENCE public.audit_logs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.audit_logs_id_seq OWNER TO finance;

--
-- Name: audit_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: finance
--

ALTER SEQUENCE public.audit_logs_id_seq OWNED BY public.audit_logs.id;


--
-- Name: bank_statements; Type: TABLE; Schema: public; Owner: finance
--

CREATE TABLE public.bank_statements (
    id integer NOT NULL,
    source_file_id integer NOT NULL,
    uploaded_by integer NOT NULL,
    uploaded_at timestamp with time zone DEFAULT now() NOT NULL,
    row_count integer DEFAULT 0 NOT NULL,
    processing_status character varying(50) DEFAULT 'pending'::character varying NOT NULL
);


ALTER TABLE public.bank_statements OWNER TO finance;

--
-- Name: bank_statements_id_seq; Type: SEQUENCE; Schema: public; Owner: finance
--

CREATE SEQUENCE public.bank_statements_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.bank_statements_id_seq OWNER TO finance;

--
-- Name: bank_statements_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: finance
--

ALTER SEQUENCE public.bank_statements_id_seq OWNED BY public.bank_statements.id;


--
-- Name: bank_transactions; Type: TABLE; Schema: public; Owner: finance
--

CREATE TABLE public.bank_transactions (
    id integer NOT NULL,
    bank_statement_id integer NOT NULL,
    transaction_date date,
    debited_amount numeric(18,2),
    credited_amount numeric(18,2),
    transaction_type character varying(200),
    comment text,
    detected_invoice_numbers jsonb DEFAULT '[]'::jsonb NOT NULL,
    reconciliation_status character varying(50) DEFAULT 'pending'::character varying NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.bank_transactions OWNER TO finance;

--
-- Name: bank_transactions_id_seq; Type: SEQUENCE; Schema: public; Owner: finance
--

CREATE SEQUENCE public.bank_transactions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.bank_transactions_id_seq OWNER TO finance;

--
-- Name: bank_transactions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: finance
--

ALTER SEQUENCE public.bank_transactions_id_seq OWNED BY public.bank_transactions.id;


--
-- Name: invoice_payment_matches; Type: TABLE; Schema: public; Owner: finance
--

CREATE TABLE public.invoice_payment_matches (
    id integer NOT NULL,
    invoice_id integer NOT NULL,
    bank_transaction_id integer NOT NULL,
    invoice_number character varying(200) NOT NULL,
    match_type character varying(50) DEFAULT 'invoice_number'::character varying NOT NULL,
    match_confidence numeric(5,4) NOT NULL,
    status character varying(50) NOT NULL,
    paid_at_date date NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.invoice_payment_matches OWNER TO finance;

--
-- Name: invoice_payment_matches_id_seq; Type: SEQUENCE; Schema: public; Owner: finance
--

CREATE SEQUENCE public.invoice_payment_matches_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.invoice_payment_matches_id_seq OWNER TO finance;

--
-- Name: invoice_payment_matches_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: finance
--

ALTER SEQUENCE public.invoice_payment_matches_id_seq OWNED BY public.invoice_payment_matches.id;


--
-- Name: invoices; Type: TABLE; Schema: public; Owner: finance
--

CREATE TABLE public.invoices (
    id integer NOT NULL,
    invoice_date date,
    name_of_company character varying(500),
    address_of_company text,
    invoice_number character varying(200),
    invoice_number_normalized character varying(200),
    amount numeric(18,2),
    currency character varying(10),
    account_details text,
    internal_note_description text,
    client_employee_related character varying(500),
    paid_at_date date,
    paid_by character varying(300),
    fixed_status character varying(100),
    category character varying(200),
    extraction_confidence numeric(5,4),
    review_status character varying(50) DEFAULT 'pending'::character varying NOT NULL,
    match_status character varying(50) DEFAULT 'unmatched'::character varying NOT NULL,
    source_file_id integer,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.invoices OWNER TO finance;

--
-- Name: invoices_id_seq; Type: SEQUENCE; Schema: public; Owner: finance
--

CREATE SEQUENCE public.invoices_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.invoices_id_seq OWNER TO finance;

--
-- Name: invoices_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: finance
--

ALTER SEQUENCE public.invoices_id_seq OWNED BY public.invoices.id;


--
-- Name: review_tasks; Type: TABLE; Schema: public; Owner: finance
--

CREATE TABLE public.review_tasks (
    id integer NOT NULL,
    task_type character varying(50) NOT NULL,
    invoice_id integer,
    bank_transaction_id integer,
    reason character varying(200) NOT NULL,
    status character varying(50) DEFAULT 'open'::character varying NOT NULL,
    assigned_to integer,
    payload jsonb,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    resolved_at timestamp with time zone
);


ALTER TABLE public.review_tasks OWNER TO finance;

--
-- Name: review_tasks_id_seq; Type: SEQUENCE; Schema: public; Owner: finance
--

CREATE SEQUENCE public.review_tasks_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.review_tasks_id_seq OWNER TO finance;

--
-- Name: review_tasks_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: finance
--

ALTER SEQUENCE public.review_tasks_id_seq OWNED BY public.review_tasks.id;


--
-- Name: uploaded_files; Type: TABLE; Schema: public; Owner: finance
--

CREATE TABLE public.uploaded_files (
    id integer NOT NULL,
    original_filename character varying(500) NOT NULL,
    storage_path character varying(1000) NOT NULL,
    mime_type character varying(100),
    file_kind character varying(50) NOT NULL,
    uploaded_by integer NOT NULL,
    uploaded_at timestamp with time zone DEFAULT now() NOT NULL,
    processing_status character varying(50) DEFAULT 'pending'::character varying NOT NULL
);


ALTER TABLE public.uploaded_files OWNER TO finance;

--
-- Name: uploaded_files_id_seq; Type: SEQUENCE; Schema: public; Owner: finance
--

CREATE SEQUENCE public.uploaded_files_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.uploaded_files_id_seq OWNER TO finance;

--
-- Name: uploaded_files_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: finance
--

ALTER SEQUENCE public.uploaded_files_id_seq OWNED BY public.uploaded_files.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: finance
--

CREATE TABLE public.users (
    id integer NOT NULL,
    email character varying(300) NOT NULL,
    password_hash character varying(500) NOT NULL,
    role character varying(50) DEFAULT 'finance'::character varying NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.users OWNER TO finance;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: finance
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO finance;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: finance
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: audit_logs id; Type: DEFAULT; Schema: public; Owner: finance
--

ALTER TABLE ONLY public.audit_logs ALTER COLUMN id SET DEFAULT nextval('public.audit_logs_id_seq'::regclass);


--
-- Name: bank_statements id; Type: DEFAULT; Schema: public; Owner: finance
--

ALTER TABLE ONLY public.bank_statements ALTER COLUMN id SET DEFAULT nextval('public.bank_statements_id_seq'::regclass);


--
-- Name: bank_transactions id; Type: DEFAULT; Schema: public; Owner: finance
--

ALTER TABLE ONLY public.bank_transactions ALTER COLUMN id SET DEFAULT nextval('public.bank_transactions_id_seq'::regclass);


--
-- Name: invoice_payment_matches id; Type: DEFAULT; Schema: public; Owner: finance
--

ALTER TABLE ONLY public.invoice_payment_matches ALTER COLUMN id SET DEFAULT nextval('public.invoice_payment_matches_id_seq'::regclass);


--
-- Name: invoices id; Type: DEFAULT; Schema: public; Owner: finance
--

ALTER TABLE ONLY public.invoices ALTER COLUMN id SET DEFAULT nextval('public.invoices_id_seq'::regclass);


--
-- Name: review_tasks id; Type: DEFAULT; Schema: public; Owner: finance
--

ALTER TABLE ONLY public.review_tasks ALTER COLUMN id SET DEFAULT nextval('public.review_tasks_id_seq'::regclass);


--
-- Name: uploaded_files id; Type: DEFAULT; Schema: public; Owner: finance
--

ALTER TABLE ONLY public.uploaded_files ALTER COLUMN id SET DEFAULT nextval('public.uploaded_files_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: finance
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: finance
--

COPY public.alembic_version (version_num) FROM stdin;
b2c3d4e5f6a7
\.


--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: finance
--



--
-- Data for Name: bank_statements; Type: TABLE DATA; Schema: public; Owner: finance
--

COPY public.bank_statements (id, source_file_id, uploaded_by, uploaded_at, row_count, processing_status) FROM stdin;
1	2	1	2026-05-26 14:55:49.61353+00	84	processed
\.


--
-- Data for Name: bank_transactions; Type: TABLE DATA; Schema: public; Owner: finance
--



--
-- Data for Name: invoice_payment_matches; Type: TABLE DATA; Schema: public; Owner: finance
--



--
-- Data for Name: invoices; Type: TABLE DATA; Schema: public; Owner: finance
--



--
-- Data for Name: review_tasks; Type: TABLE DATA; Schema: public; Owner: finance
--



--
-- Data for Name: uploaded_files; Type: TABLE DATA; Schema: public; Owner: finance
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: finance
--

COPY public.users (id, email, password_hash, role, is_active, created_at) FROM stdin;
1	finance@borek.com	$2b$12$QHIQYw/BUF6.QYCkpRKkX.WXKrfC1oPvC928x/D1Hd6uQ3EPbuxva	finance	t	2026-05-26 14:55:35.807587+00
\.


--
-- Name: audit_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: finance
--

SELECT pg_catalog.setval('public.audit_logs_id_seq', 117, true);


--
-- Name: bank_statements_id_seq; Type: SEQUENCE SET; Schema: public; Owner: finance
--

SELECT pg_catalog.setval('public.bank_statements_id_seq', 1, true);


--
-- Name: bank_transactions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: finance
--

SELECT pg_catalog.setval('public.bank_transactions_id_seq', 84, true);


--
-- Name: invoice_payment_matches_id_seq; Type: SEQUENCE SET; Schema: public; Owner: finance
--

SELECT pg_catalog.setval('public.invoice_payment_matches_id_seq', 28, true);


--
-- Name: invoices_id_seq; Type: SEQUENCE SET; Schema: public; Owner: finance
--

SELECT pg_catalog.setval('public.invoices_id_seq', 59, true);


--
-- Name: review_tasks_id_seq; Type: SEQUENCE SET; Schema: public; Owner: finance
--

SELECT pg_catalog.setval('public.review_tasks_id_seq', 90, true);


--
-- Name: uploaded_files_id_seq; Type: SEQUENCE SET; Schema: public; Owner: finance
--

SELECT pg_catalog.setval('public.uploaded_files_id_seq', 61, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: finance
--

SELECT pg_catalog.setval('public.users_id_seq', 1, true);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: finance
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: finance
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: bank_statements bank_statements_pkey; Type: CONSTRAINT; Schema: public; Owner: finance
--

ALTER TABLE ONLY public.bank_statements
    ADD CONSTRAINT bank_statements_pkey PRIMARY KEY (id);


--
-- Name: bank_transactions bank_transactions_pkey; Type: CONSTRAINT; Schema: public; Owner: finance
--

ALTER TABLE ONLY public.bank_transactions
    ADD CONSTRAINT bank_transactions_pkey PRIMARY KEY (id);


--
-- Name: invoice_payment_matches invoice_payment_matches_pkey; Type: CONSTRAINT; Schema: public; Owner: finance
--

ALTER TABLE ONLY public.invoice_payment_matches
    ADD CONSTRAINT invoice_payment_matches_pkey PRIMARY KEY (id);


--
-- Name: invoices invoices_pkey; Type: CONSTRAINT; Schema: public; Owner: finance
--

ALTER TABLE ONLY public.invoices
    ADD CONSTRAINT invoices_pkey PRIMARY KEY (id);


--
-- Name: review_tasks review_tasks_pkey; Type: CONSTRAINT; Schema: public; Owner: finance
--

ALTER TABLE ONLY public.review_tasks
    ADD CONSTRAINT review_tasks_pkey PRIMARY KEY (id);


--
-- Name: uploaded_files uploaded_files_pkey; Type: CONSTRAINT; Schema: public; Owner: finance
--

ALTER TABLE ONLY public.uploaded_files
    ADD CONSTRAINT uploaded_files_pkey PRIMARY KEY (id);


--
-- Name: invoice_payment_matches uq_matches_invoice_bank; Type: CONSTRAINT; Schema: public; Owner: finance
--

ALTER TABLE ONLY public.invoice_payment_matches
    ADD CONSTRAINT uq_matches_invoice_bank UNIQUE (invoice_id, bank_transaction_id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: finance
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: finance
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: ix_audit_logs_entity; Type: INDEX; Schema: public; Owner: finance
--

CREATE INDEX ix_audit_logs_entity ON public.audit_logs USING btree (entity_type, entity_id);


--
-- Name: ix_bank_statements_processing_status; Type: INDEX; Schema: public; Owner: finance
--

CREATE INDEX ix_bank_statements_processing_status ON public.bank_statements USING btree (processing_status);


--
-- Name: ix_bank_transactions_reconciliation_status; Type: INDEX; Schema: public; Owner: finance
--

CREATE INDEX ix_bank_transactions_reconciliation_status ON public.bank_transactions USING btree (reconciliation_status);


--
-- Name: ix_bank_transactions_statement_id; Type: INDEX; Schema: public; Owner: finance
--

CREATE INDEX ix_bank_transactions_statement_id ON public.bank_transactions USING btree (bank_statement_id);


--
-- Name: ix_invoices_invoice_number; Type: INDEX; Schema: public; Owner: finance
--

CREATE INDEX ix_invoices_invoice_number ON public.invoices USING btree (invoice_number);


--
-- Name: ix_invoices_invoice_number_normalized; Type: INDEX; Schema: public; Owner: finance
--

CREATE INDEX ix_invoices_invoice_number_normalized ON public.invoices USING btree (invoice_number_normalized);


--
-- Name: ix_invoices_match_status; Type: INDEX; Schema: public; Owner: finance
--

CREATE INDEX ix_invoices_match_status ON public.invoices USING btree (match_status);


--
-- Name: ix_invoices_paid_at_date; Type: INDEX; Schema: public; Owner: finance
--

CREATE INDEX ix_invoices_paid_at_date ON public.invoices USING btree (paid_at_date);


--
-- Name: ix_invoices_review_status; Type: INDEX; Schema: public; Owner: finance
--

CREATE INDEX ix_invoices_review_status ON public.invoices USING btree (review_status);


--
-- Name: ix_matches_bank_transaction_id; Type: INDEX; Schema: public; Owner: finance
--

CREATE INDEX ix_matches_bank_transaction_id ON public.invoice_payment_matches USING btree (bank_transaction_id);


--
-- Name: ix_matches_invoice_id; Type: INDEX; Schema: public; Owner: finance
--

CREATE INDEX ix_matches_invoice_id ON public.invoice_payment_matches USING btree (invoice_id);


--
-- Name: ix_review_tasks_status; Type: INDEX; Schema: public; Owner: finance
--

CREATE INDEX ix_review_tasks_status ON public.review_tasks USING btree (status);


--
-- Name: ix_uploaded_files_kind_status; Type: INDEX; Schema: public; Owner: finance
--

CREATE INDEX ix_uploaded_files_kind_status ON public.uploaded_files USING btree (file_kind, processing_status);


--
-- Name: audit_logs audit_logs_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: finance
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: bank_statements bank_statements_source_file_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: finance
--

ALTER TABLE ONLY public.bank_statements
    ADD CONSTRAINT bank_statements_source_file_id_fkey FOREIGN KEY (source_file_id) REFERENCES public.uploaded_files(id);


--
-- Name: bank_statements bank_statements_uploaded_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: finance
--

ALTER TABLE ONLY public.bank_statements
    ADD CONSTRAINT bank_statements_uploaded_by_fkey FOREIGN KEY (uploaded_by) REFERENCES public.users(id);


--
-- Name: bank_transactions bank_transactions_bank_statement_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: finance
--

ALTER TABLE ONLY public.bank_transactions
    ADD CONSTRAINT bank_transactions_bank_statement_id_fkey FOREIGN KEY (bank_statement_id) REFERENCES public.bank_statements(id) ON DELETE CASCADE;


--
-- Name: invoice_payment_matches invoice_payment_matches_bank_transaction_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: finance
--

ALTER TABLE ONLY public.invoice_payment_matches
    ADD CONSTRAINT invoice_payment_matches_bank_transaction_id_fkey FOREIGN KEY (bank_transaction_id) REFERENCES public.bank_transactions(id) ON DELETE CASCADE;


--
-- Name: invoice_payment_matches invoice_payment_matches_invoice_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: finance
--

ALTER TABLE ONLY public.invoice_payment_matches
    ADD CONSTRAINT invoice_payment_matches_invoice_id_fkey FOREIGN KEY (invoice_id) REFERENCES public.invoices(id) ON DELETE CASCADE;


--
-- Name: invoices invoices_source_file_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: finance
--

ALTER TABLE ONLY public.invoices
    ADD CONSTRAINT invoices_source_file_id_fkey FOREIGN KEY (source_file_id) REFERENCES public.uploaded_files(id);


--
-- Name: review_tasks review_tasks_assigned_to_fkey; Type: FK CONSTRAINT; Schema: public; Owner: finance
--

ALTER TABLE ONLY public.review_tasks
    ADD CONSTRAINT review_tasks_assigned_to_fkey FOREIGN KEY (assigned_to) REFERENCES public.users(id);


--
-- Name: review_tasks review_tasks_bank_transaction_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: finance
--

ALTER TABLE ONLY public.review_tasks
    ADD CONSTRAINT review_tasks_bank_transaction_id_fkey FOREIGN KEY (bank_transaction_id) REFERENCES public.bank_transactions(id);


--
-- Name: review_tasks review_tasks_invoice_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: finance
--

ALTER TABLE ONLY public.review_tasks
    ADD CONSTRAINT review_tasks_invoice_id_fkey FOREIGN KEY (invoice_id) REFERENCES public.invoices(id);


--
-- Name: uploaded_files uploaded_files_uploaded_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: finance
--

ALTER TABLE ONLY public.uploaded_files
    ADD CONSTRAINT uploaded_files_uploaded_by_fkey FOREIGN KEY (uploaded_by) REFERENCES public.users(id);


--
-- PostgreSQL database dump complete
--

\unrestrict YtdbunKKzZHFXfv9QWKaUkfa6YRFEt8BZaIyfNC4fyBuUTviHYkjiDX73KPas6c

